.App {
  height: 100vh;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 40em;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-bottom: 2em;
}

.score {
  display: flex;
}

.score h4 {
  align-content: flex-end;
}

.btn {
  width: 15em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
